<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스마트 팩토리 관제 시스템</title>
</head>
<body>
<div style="text-align: center; padding-top: 20px;">
    <h1><a href="/session-login">스마트 팩토리 관제 시스템</a></h1>
    <hr style="width: 80%; height: 2px; background-color: #007bff; border: none; margin: 15px auto;">
</div>

<div class="container mt-5">
    <div class="custom-form" style="display: flex; flex-direction: column; align-items: flex-start;">
        <h2 class="text-center mb-4">최신 온도 데이터</h2>
        <div style="text-align: left;">
            <div><span>Sensor:</span> <span id="sensor1">Loading...</span></div>
            <div><span>Value:</span> <span id="value1">Loading...</span></div>
            <div><span>IncWeather : </span><span id="value01">Loading...</span></div>
        </div>
        <h2 class="text-center mb-4">최신 조도 데이터</h2>
        <div style="text-align: left;">
            <div><span>Sensor:</span> <span id="sensor2">Loading...</span></div>
            <div><span>Value:</span> <span id="value2">Loading...</span></div>
        </div>
        <h2 class="text-center mb-4">최신 생산 데이터</h2>
        <div style="text-align: left;">
            <div><span>Sensor:</span> <span id="sensor3">Loading...</span></div>
            <div><span>Value:</span> <span id="value3">Loading...</span></div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function fetchLatestTemperatureData(){
        fetch("/session-login/getWeather")
            .then(response => response.text())
            .then(data => {
                document.getElementById("value01").textContent = data;
            })
            .catch(error => console.error('Error fetching latest temperature data:', error));
    }
    fetchLatestTemperatureData();
</script>
<script th:inline="javascript">
    function fetchLatestTemperatureData() {
        fetch("/session-login/latestTemperatureData")
            .then(response => response.json())
            .then(data => {
                document.getElementById("sensor1").textContent = data.sensor;
                document.getElementById("value1").textContent = data.value;
            })
            .catch(error => console.error('Error fetching latest temperature data:', error));
    }

    fetchLatestTemperatureData();
    setInterval(fetchLatestTemperatureData, 3000); // 데이터 갱신 주기(3초)
</script>

<script th:inline="javascript">
    function fetchLatestTemperatureData() {
        fetch("/session-login/latestPhotoData")
            .then(response => response.json())
            .then(data => {
                document.getElementById("sensor2").textContent = data.sensor;
                document.getElementById("value2").textContent = data.value;
            })
            .catch(error => console.error('Error fetching latest photo data:', error));
    }

    fetchLatestTemperatureData();
    setInterval(fetchLatestTemperatureData, 3000); // 데이터 갱신 주기(3초)
</script>

<script th:inline="javascript">
    function fetchLatestTemperatureData() {
        fetch("/session-login/latestCountData")
            .then(response => response.json())
            .then(data => {
                document.getElementById("sensor3").textContent = data.sensor;
                document.getElementById("value3").textContent = data.value;
            })
            .catch(error => console.error('Error fetching latest photo data:', error));
    }

    fetchLatestTemperatureData();
    setInterval(fetchLatestTemperatureData, 3000); // 데이터 갱신 주기(3초)
</script>

<style>
    /* 커스텀 CSS 스타일 */
    body {
        background-color: #f8f9fa;
    }

    .custom-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    div {
        text-align: left;
        margin-bottom: 10px;
    }
</style>
</body>
</html>
